<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Responsive Product Card Landing Page HTML CSS JAVASCRIPT | Mobile First

    link(rel="stylesheet", href="assets/css/index.css")
  body

    // HEADER
    header.l-header
      nav.nav.bg-grid
        .nav__toggle#nav-toggle
          img(src="assets/icons/icon-menu.svg", alt="")
      
        div
          a.nav__logo(href="#")
            img(src="assets/icons/nike-logo.svg", alt="")
        
        .nav__menu#nav-menu
          ul.nav__list
            each val, index in ['men', 'women', 'kids', 'customize', 'sale']
              li.nav__item
                a.nav__link(href="#")= val
        .nav__shop
          img(src="assets/icons/shopping-bag.svg", alt="")

    // MAIN
    main.l-main.bg-grid
      .home
        // SNEAKER
        .sneaker
          .sneaker__figure

          div
            img.sneaker__img.shows(src="assets/img/NikeAirMaxMotion2.png", color="#A29596", alt="")
            img.sneaker__img(src="assets/img/NikeAirMax Motion2black.png",color="#111111", alt="")
          .sneaker__colors
            .sneaker__color.sneaker__color-one.active(primary="#A29596", color="#A29596")
            .sneaker__color.sneaker__color-two(primary="#111111", color="#111111")
        // INFO
        .info
          .data
            span.data__subtitle Nike
            h1.data__title Air Motion 2
            p.data__text Lorem, ipsum dolor sit amet consectetur<br> adipisicing elit. Magnam, blanditiis.

          // ACTIONS
          .actions
            // SIZE
            .size
              h3.size__title Tallas 
              .size__content 
                span.size__tallas.active 8.5
                span.size__tallas 9
                span.size__tallas 9.5
            // AMOUNT
            .amount
              h3.amount__title Amount.
              .amount__content
                span -
                span 1
                span +
            
            // PRICE
            .price
              span.price__title 99.00€
              a.price__btn(href="") add to card
    

    // MAIN JS
    script(src="assets/js/index.js")