@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
$header-height: 3rem;
$font-regular: 400;
$font-medium:500;
$font-bold: 700;

/*Variables css*/

/*===== Colores =====*/

$first-color: #A29596;
$primary: #A29596;
$second-color: #33303D;
$black-color: #111111;
$white-color: #FFF;


/*===== Police et typographie =====*/

$body-font: 'Roboto', sans-serif;
$biggest-font-size: 1.5rem;
$big-font-size: 1.5rem;
$normal-font-size: 0.938rem;
$smaller-font-size: 0.75rem;

@media screen and (min-width: 968px){
  $biggest-font-size: 3.25rem;
  $big-font-size: 2.25rem;
  $normal-font-size: 1rem;
  $smaller-font-size: 0.813rem;
}

/*===== z index =====*/

  $z-back: -10;
  $z-normal: 1;
  $z-tooltip: 10;
  $z-fixed: 100;
  $z-modal: 1000;


/*===== BASE =====*/
*,::before,::after{
    box-sizing: border-box;
}
body{
    margin: $header-height 0 0 0;
    font-family: $body-font;
    background-color: $white-color;
    color: $black-color;
}
h1,h2,h3,p{
    margin: 0;  
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}

/*=====  HEADER =====*/

.l-header {

  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $white-color;

  .bg-grid {
    max-width: 1200px;
    margin: 0rem 1rem;
  }
  
  /*===== PAGES =====*/
    .nav {
      height: $header-height;
      display: flex;
      justify-content: space-between;
      align-items: center;


      .nav__toggle {
        cursor: pointer;
      }

      &__menu {
        @media screen and (max-width: 968px) {
          position: fixed;
          left: -100%;
          top: $header-height;
          background-color: $white-color;
          width: 80%;
          height: 100%;
          padding: 2rem;
          z-index: $z-fixed;
          transition: .3s;
        }

        .nav__list {


          .nav__item {
            margin-bottom: 2rem;
            font-weight: $font-bold;

            .nav__link {
              color: $black-color;
              text-transform: uppercase;
            }
          }
        }
      }

      .show {
        left: 0;
      }
    }
}





/*Afficher menu*/

/*===== MEDIA QUERIES =====*/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{-webkit-box-sizing:content-box;box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{-webkit-box-sizing:border-box;box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{-webkit-box-sizing:border-box;box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

html,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:400}ul{list-style:none}button,input,select,textarea{margin:0}html{-webkit-box-sizing:border-box;box-sizing:border-box}*,*::before,*::after{-webkit-box-sizing:inherit;box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}