@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
/*===== VARIABLES CSS Y SASS =====*/
/*Varibles sass*/
/*Variables css*/
/*===== Colores =====*/
/*===== Police et typographie =====*/
/*===== z index =====*/
/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 3rem 0 0 0;
  font-family: "Roboto", sans-serif;
  background-color: #FFF;
  color: #111111; }

h1, h2, h3, p {
  margin: 0; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.bg-grid {
  max-width: 1200px;
  margin: 0rem 1rem; }
  @media screen and (min-width: 1200px) {
    .bg-grid {
      margin-left: auto;
      margin-right: auto; } }

/*=====  HEADER =====*/
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #FFF;
  /*===== NAV =====*/ }
  .l-header .nav {
    height: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    /*Afficher menu*/ }
    .l-header .nav .nav__toggle {
      cursor: pointer; }
    @media screen and (max-width: 968px) {
      .l-header .nav__menu {
        position: fixed;
        left: -100%;
        top: 3rem;
        background-color: #FFF;
        width: 80%;
        height: 100%;
        padding: 2rem;
        z-index: 100;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s; } }
    .l-header .nav__menu .nav__list .nav__item {
      margin-bottom: 2rem;
      font-weight: 700; }
      .l-header .nav__menu .nav__list .nav__item .nav__link {
        color: #111111;
        text-transform: uppercase; }
    .l-header .nav .show {
      left: 0; }

/*=====  MAIN =====*/
.home {
  height: calc(100vh - 3rem);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1.5fr;
  grid-template-rows: 1fr 1.5fr;
  grid-template-areas: 'sneaker';
  overflow: hidden;
  /* Sneaker */
  /* Info */ }
  .home .sneaker {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: sneaker;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 0;
    position: relative; }
    .home .sneaker .sneaker__figure {
      width: 240px;
      height: 240px;
      background: #A29596;
      border-radius: 50%;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s; }
    .home .sneaker div .sneaker__img {
      width: 313px;
      position: absolute;
      top: 16%;
      left: 9%;
      right: 0;
      margin-left: auto;
      margin-right: auto;
      -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
      transform: rotate(30deg);
      opacity: 0;
      -webkit-filter: drop-shadow(0 10px 10px rgba(17, 17, 17, 0.4));
      filter: drop-shadow(0 10px 10px rgba(17, 17, 17, 0.4)); }
      .home .sneaker div .sneaker__img.shows {
        opacity: 1; }
    .home .sneaker .sneaker__colors {
      position: absolute;
      right: 2%; }
      .home .sneaker .sneaker__colors .sneaker__color {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-bottom: .5rem;
        cursor: pointer; }
        .home .sneaker .sneaker__colors .sneaker__color.active {
          border: 2px solid #FFF;
          -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black; }
      .home .sneaker .sneaker__colors .sneaker__color-one {
        background-color: #A29596; }
      .home .sneaker .sneaker__colors .sneaker__color-two {
        background-color: #111111; }
  .home .info {
    /* Actions */ }
    .home .info .data {
      margin-bottom: 1.5rem; }
      .home .info .data .data__subtitle {
        font-size: 0.938rem; }
      .home .info .data .data__title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: .5rem; }
      .home .info .data .data__text {
        font-size: 0.938rem; }
    .home .info .actions {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      /* Size */
      /* Amount */
      /* Price */ }
      .home .info .actions .size .size__title {
        font-size: 0.938rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .home .info .actions .size .size__content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .home .info .actions .size .size__content .size__tallas {
          width: 30px;
          height: 30px;
          font-size: 0.75rem;
          text-align: center;
          line-height: 30px;
          border-radius: .25rem;
          cursor: pointer; }
          .home .info .actions .size .size__content .size__tallas:not(:nth-child(3)) {
            margin-right: .5rem; }
          .home .info .actions .size .size__content .size__tallas.active {
            background-color: #A29596;
            color: #FFF; }
      .home .info .actions .amount .amount__title {
        font-size: 0.938rem;
        font-weight: 700;
        margin-bottom: 1rem; }
      .home .info .actions .amount .amount__content {
        width: 100px;
        height: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-color: #A29596;
        color: #FFF;
        padding: .5rem;
        border-radius: .25rem; }
      .home .info .actions .price {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 83px;
        background-color: #FFF;
        border-radius: 1.5rem 1.5rem 0 0;
        -webkit-box-shadow: 0 0 20px rgba(17, 17, 17, 0.25);
        box-shadow: 0 0 20px rgba(17, 17, 17, 0.25);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .home .info .actions .price .price__title {
          color: #111111;
          font-size: 1.5rem; }
        .home .info .actions .price .price__btn {
          background-color: #A29596;
          color: #FFF;
          padding: 1.25rem 3.125rem; }

/*===== MEDIA QUERIES =====*/
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

main {
  display: block; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

[type=button], [type=reset], [type=submit], button {
  -webkit-appearance: button; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

html, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400; }

ul {
  list-style: none; }

button, input, select, textarea {
  margin: 0; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

img, video {
  height: auto;
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

td:not([align]), th:not([align]) {
  text-align: left; }
